body{
    background-color:rgb(248, 228, 228);
    align-items: center;
    box-sizing:border-box;
   

}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: transparent;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgb(250, 214, 214);
}
.nav-bar a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 18px;
    bottom: 20px;
}
.nav-bar a:hover{
    text-decoration:underline;
    border-radius: 99px;
    border: none;
    background-color:rgb(247, 168, 168) ;
    color: rgb(252, 247, 248);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 22px;
    transition: 1s;
    box-shadow: 3px 3px 3px palevioletred;
}
.nav-bar a{
    transition: 1s;
}
.search-bar {
    width: 250px;
    height: 45px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 250px;
}

.search-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}
p{
text-align: center;
}
.manager{
    border-radius: 600px 600px 600px 600px ;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 530px;
    box-shadow: 3px 3px 3px blue;
}
 

.manager1{
    border-radius: 600px 600px 600px 600px ;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 35px;
    box-shadow: 3px 3px 3px blue;
}
.manager2{
    border-radius: 600px 600px 600px 600px ;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 70px;
    box-shadow: 3px 3px 3px blue;
}
.p{
position: relative;
margin-top: 80px;
padding-left:210px ;
text-align: justify;
text-shadow: 1px 1px 1px rgb(72, 149, 236);
}
.p1{
    position: relative;
margin-top: 180px;
padding-left:210px ;
text-align: justify;
text-shadow: 1px 1px 1px rgb(72, 149, 236);
}
.p2{
    position: relative;
    margin-top: 250px;
    padding-left:210px ;
    text-align: justify;
    text-shadow: 1px 1px 1px  rgb(72, 149, 236);
}
.TOEFL{
    border: 3px solid blue;
    border-radius: 20px 20px 20px 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    display: inline-block;
    margin-left: 100px;
    text-align: justify;
    box-shadow:3px  3px 3px rgb(102, 157, 240);
    z-index: 100;
}

#pic{
position: absolute;
margin-top:150px ;

}
   #div{
    padding-left: 150px;
    padding-right: 30px;
    box-sizing: border-box;
   }

h1{
    text-align: center;
    margin-top: 200px;
}
#sticker{
    width: 100px;
    padding-top: px;
    padding-left: 315px;
    position: absolute;
    bottom: 210px;
    top: 10px;
    left: 5px;
    text-shadow: 2px 2px 3px rgb(72, 149, 236);
}
h2{
     margin-top: 70px;
     font-size: 20px;
     padding-left: 45px;
     text-shadow: 2px 2px 3px rgb(72, 149, 236);
     text-align: center;
}
h2.text1:hover{
    font-size: 21px;
    transition: 1s;
}
h2.text1{
    transition: 1s;
}
