body{
    background-color:rgb(248, 228, 228);
    align-items: center;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
        background: url(s);
        background-size: cover;
        box-sizing: border-box;
    
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: transparent;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgb(255, 161, 161);

}
.nav-bar a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 18px;
    bottom: 20px;
}
.nav-bar a:hover{
    text-decoration:underline;
    border-radius: 99px;
    border: none;
    background-color:rgb(247, 168, 168) ;
    color: rgb(252, 247, 248);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 22px;
    transition: 1s;
    box-shadow: 3px 3px 3px palevioletred;
}
.nav-bar a{
    transition: 1s;
}
.search-bar {
    width: 250px;
    height: 45px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 250px;
}

.search-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}




#pic{
position: absolute;
margin-top:100px ;

}
   #div{
    padding-left: 150px;
    padding-right: 30px;
    box-sizing: border-box;
   }



#sticker{
    width: 100px;
    padding-left: 315px;
    position: absolute;
    bottom: 210px;
    top: 10px;
    left: 5px;
    text-shadow: 2px 2px 3px rgb(72, 149, 236);
}

footer{
    background-color: rgb(67, 142, 240);
    position: relative;
    bottom: 0;
    text-align: center;
}
.container{
    background-color: rgb(248, 144, 144);
    width: 65%;
    height: 200px;
   justify-content: center;
  padding-left: 25%;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 200px;
}
#h1{
    padding-left: 20px;
    padding-right: 150px;
    justify-content: center;
    padding-top: 20px;
}
.regester-button:hover {
    box-shadow: 0px 0px 70px #fff;
}
.regester-button {
    justify-content: center;
    position: absolute;
    bottom: 250px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    font-size: 30px;
    width: 200px;
    height: 70px;
    font-size: large;
    font-weight: bold;
    color: #090230;
    background-color: rgb(221, 233, 243);
    font-family: sans-serif;
    border: 10px solid rgb(9, 1, 36);
    border-radius: 50px;
    animation-name: button;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-play-state: running;
    animation-iteration-count: 1;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
