body{
    background-color:rgb(248, 228, 228);
    align-items: center;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
  

}

    
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: transparent;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgb(255, 161, 161);

}
.nav-bar a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 18px;
    bottom: 20px;
}
.nav-bar a:hover{
    text-decoration:underline;
    border-radius: 99px;
    border: none;
    background-color:rgb(247, 168, 168) ;
    color: rgb(252, 247, 248);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 22px;
    transition: 1s;
    box-shadow: 3px 3px 3px palevioletred;
}
.nav-bar a{
    transition: 1s;
}
.search-bar {
    width: 250px;
    height: 45px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 250px;
}

.search-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}



.img{
    padding-left: 600px;
    height: 400px;
    width: 400px;
    border-radius:20px 20px 20px 20px;
    border: 3px solid blue;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top:60px ;
    box-shadow:3px  3px 3px rgb(102, 157, 240);
 z-index: -1;
}
#pic{
position: absolute;
margin-top:150px ;

}
   #div{
    padding-left: 150px;
    padding-right: 30px;
    box-sizing: border-box;
   }

h1{
    text-align: center;
    margin-top: 200px;
}
#sticker{
    width: 100px;
    padding-left: 315px;
    position: absolute;
    bottom: 210px;
    top: 10px;
    left: 5px;
    text-shadow: 2px 2px 3px rgb(72, 149, 236);
}
h2{
    position: absolute;
     bottom: 220px;
     font-size: 20px;
     padding-left: 45px;
     
     text-shadow: 2px 2px 3px rgb(72, 149, 236);
}
h2.text1:hover{
    font-size: 21px;
    transition: 1s;
}
h2.text1{
    transition: 1s;
}
h4{
    position: absolute;
    bottom: 170px;
    padding-left: 43px;
    margin-left: 10px;
    text-shadow: 1.5px 1.5px 3px rgb(72, 149, 236);
}
h4.text3:hover{
    font-size: 18px;
    transition: 1s;
}
h4.text3{
    transition: 1s;
}
ul{
    position: absolute;
    bottom: 70px;
    font-size:18px ;
    padding-left: 70px;
    text-shadow: 0.5px 0.5px 2px rgb(72, 149, 236);
}
ul.text2:hover{
    font-size: 20px;
    transition: 1s;
}
ul.text2{
transition: 1s;
}
h3{
    position: absolute;
    bottom: 0.5px;
    padding-left: 45px;
    margin-left: 10px;
    text-shadow: 1.5px 1.5px 2px rgb(72, 149, 236);
}
h3.text:hover{
    font-size: 20px;
    transition: 1s;
}
h3.text{
    transition: 1s;
}
button{
    position: relative;
    padding: 10px;
    left: 35%;
    background-color: rgb(100, 177, 248);
    font-size: large;
    width: 150px;
    bottom: 170px;
    border-radius: 15px;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}
button:hover{
    cursor:pointer;
    transition: 1s;
   text-transform: capitalize;  
}
footer{
    background-color: rgb(67, 142, 240);
    position: relative;
    bottom: 0;
    text-align: center;
    right: 25px;
}
